# IntelliJ IDEA project files
*.iml
.idea

# Eclipse project files
.project
.classpath
.settings
.metadata

# Maven build files
target
bin

# Custom project ignored files and directories
log

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

examples/CsharpExamples/.vs/ServiceSamples/v14/.suo

__pycache__
examples.py
sample.docx
MANIFEST
dist/
s4sdk.egg-info/
make.bat
conf.py
index.rst
Makefile
doctrees/