<!--
 S4 Web Page Annotation Browser Plugin
 Copyright  2013, 2014, Ontotext AD
 
 This file is free software; you can redistribute it and/or modify it under
 the terms of the GNU Lesser General Public License as published by the Free
 Software Foundation; either version 2.1 of the License, or (at your option)
 any later version.
 This library is distributed in the hope that it will be useful, but WITHOUT
 ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License for more
 details.
 You should have received a copy of the GNU Lesser General Public License along
 with this library; if not, write to the Free Software Foundation, Inc.,
 59 Temple Place, Suite 330, Boston, MA 02111-1307 USA
-->
<form name="pipeLinesForm" data-ng-submit="$parent.pipeLinesFormHandler();">
    <fieldset>
        <legend>Process selection</legend>
        <div class="container">
            <table>
                <tr>
                    <td colspan="2">
                       <select required="required" data-ng-disabled="!credentialsIsSet" style="max-width: 200px;" data-ng-model="$parent.selectedPipeLine" name="selectedPipeLine"  data-ng-options="obj.name for obj in pipeLinesList">
                            <option value="" style="display: none;">Select pipeline</option>
                       </select>
                    </td>
                </tr>
                <tr>
		             <td colspan="2">
		 	             <textarea style="width: 450px;" cols="50" rows="8" data-ng-model="$parent.selectedTextFromUser" placeholder="Paste text here or use &laquo;Annotate Selection&raquo; from the context menu."></textarea>
                     </td>
                </tr>
                <tr>
                    <td style="text-align: left;">
                        <input data-ng-disabled="!credentialsIsSet || !$parent.selectedTextFromUser || $parent.selectedTextFromUser.length==0" type="submit" value="Process selection" class="btn-primary"/>
                    </td>
                    <td style="text-align: right;">
                        <input type="button" value="Settings" class="btn-primary" data-ng-click="goToSettingsForm()"/>
                    </td>
                </tr>
            </table>
        </div>
    </fieldset>
</form>
