<!--
 S4 Web Page Annotation Browser Plugin
 Copyright  2013, 2014, Ontotext AD
 
 This file is free software; you can redistribute it and/or modify it under
 the terms of the GNU Lesser General Public License as published by the Free
 Software Foundation; either version 2.1 of the License, or (at your option)
 any later version.
 This library is distributed in the hope that it will be useful, but WITHOUT
 ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License for more
 details.
 You should have received a copy of the GNU Lesser General Public License along
 with this library; if not, write to the Free Software Foundation, Inc.,
 59 Temple Place, Suite 330, Boston, MA 02111-1307 USA
-->

<form name="annoMarketFormConfigurationData" data-ng-submit="$parent.s4FormConfigurationFormSubmitHandler();">
    <fieldset>
        <legend>Settings</legend>
         <div class="container">
            <table>
                <tr>
                    <td>
                        API Key ID
                    </td>
                    <td>
                        <input class="inputControl" required="required" type="text" name="username" data-ng-model="$parent.adminData.username" data-ng-value="{{$parent.adminData.username}}" placeholder="API Key ID"/>
                    </td>
                    <td>
                        <img class="imageInfo" src="questionMark.jpg" data-ng-click="goToInfoPage()"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        API Key Secret
                    </td>
                    <td>
                        <input class="inputControl" required="required" type="text" name="password" data-ng-model="$parent.adminData.password" data-ng-value="{{$parent.adminData.password}}" placeholder="API Key Secret"/>
                    </td>
                    <td>
                        <img class="imageInfo" src="questionMark.jpg" data-ng-click="goToInfoPage()"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <input data-ng-disabled="!$parent.adminData.password || !$parent.adminData.username" class="btn-primary" type="button"  value="Delete" data-ng-click="$parent.templateToRender = './confirmDelete.html'"/>
                        <input class="btn-primary" type="button"  value="Back" data-ng-click="$parent.cancelMethod()"/>
                        <input class="btn-primary" type="submit" id="submit" value="Save"/>
                    </td>
                </tr>
            </table>
         </div>
     </fieldset>
</form>